.user-data-page {
  display: grid;
  grid-gap: 8px;
}

.user-data-page > .user-data-page-upload {
  display: flex;
}

.user-data-page > .user-data-page-upload > .user-data-page-file {
  flex: 1;
  margin-right: 8px;

  cursor: pointer;
  border: 1px solid var(--misc-text);
  padding: 7px 12px;
  border-radius: 4px;

  min-height: 38px; /* Don't shrink vertically when no value is selected. */
  line-height: 16px;

  overflow: hidden;
  text-overflow: ellipsis;

  background: var(--main-background);
  color: var(--main-text);
}

.user-data-page-clear {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr;
}

.user-data-page-export {
  display: grid;
  grid-template-columns: 1fr;
}

.user-data-page > .user-data-page-results {
  display: grid;
  grid-gap: 8px;
}
