/*
We try to auto-detect whether the user prefers a light theme or a dark theme:

+ https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme
+ Relevant Firefox issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1529323
+ How to force Firefox dark mode: https://stackoverflow.com/a/56757527/4200092

As per the above, "light" is assumed as the default if no preference is stated.
*/

/* Common things, not specific to light/dark mode: */
:root {
  --button-hover-effect: brightness(1.1);
}

/* These are the settings for the "light" theme i.e. the default. */
/* @media (prefers-color-scheme: light) { */
  :root {
    --main-text: #222;
    --main-background: #FFF;

    --menu-text: #FFF;
    --menu-background: #333;

    --error-text: #800;
    --error-background: #F99;

    --create-text: #FFF;
    --create-background: #2B4;

    --delete-text: #FFF;
    --delete-background: #E42;

    --primary-button-text: #FFF;
    --primary-button-background: #48D;

    --general-button-text: #222;
    --general-button-background: #DDDDE8;

    --misc-text: #777;               /* Also used for borders and similar. */
    --highlight-background: #DDDDE8; /* Alternative to the main background. */
  }
/* } */

@media (prefers-color-scheme: dark) {
  :root {
    --main-text: #FFF;
    --main-background: #333;

    --menu-text: #FFF;
    --menu-background: #222;

    --error-text: #FEE;
    --error-background: #833;

    --create-text: #FFF;
    --create-background: #080;

    --delete-text: #FFF;
    --delete-background: #B22;

    --primary-button-text: #FFF;
    --primary-button-background: #36A;

    --general-button-text: #DDD;
    --general-button-background: #444449;

    --misc-text: #AAA;
    --highlight-background: #444449;
  }
}
