.media-details {
  padding: 8px 12px;
  border-radius: 4px;

  display: grid;
  column-gap: 16px;
  grid-template-columns: auto auto 1fr;
  grid-template-areas: "state count extra"
                       "about about about"
                       "tags  tags  tags ";

  background: var(--main-background);
  color: var(--main-text);
}

.media-details .media-details-status {
  grid-area: state;

  display: grid;
  grid-gap: 8px;
  grid-template-columns: auto 1fr;
}

.media-details .media-details-status-label { font-weight: bold }
.media-details .media-details-status-value { /* ... */ }

.media-details .media-details-episodes {
  grid-area: count;

  display: grid;
  grid-gap: 8px;
  grid-template-columns: auto 1fr;
}

.media-details .media-details-episodes-count { font-weight: bold }
.media-details .media-details-episodes-units { /* ... */ }

.media-details .media-details-studio {
  grid-area: extra;

  display: grid;
  grid-gap: 8px;
  grid-template-columns: auto 1fr;
}

.media-details .media-details-studio-label { font-weight: bold }
.media-details .media-details-studio-value { /* ... */ }

.media-details .media-details-volumes {
  grid-area: extra;

  display: grid;
  grid-gap: 8px;
  grid-template-columns: auto 1fr;
}

.media-details .media-details-volumes-count { font-weight: bold }
.media-details .media-details-volumes-units { /* ... */ }

.media-details .media-details-description {
  grid-area: about;

  margin-top: 8px;
  border-top: 1px solid var(--misc-text);
}

.media-details .media-details-description:empty::before {
  content: 'No description yet...';

  display: block;
  padding: 8px 0;

  color: var(--misc-text);
  font-style: italic;
}

.media-details .media-details-tags { grid-area: tags }
