.studio-details {
  display: grid;

  padding: 8px 12px;
  border-radius: 4px;

  background: var(--main-background);
  color: var(--main-text);
}

.studio-details > .studio-details-logo {
  margin: auto;
  max-height: 50px;
}

.studio-details > .studio-details-sites:not(:empty) {
  text-align: center;
  margin: 8px 0;
}

.studio-details > .studio-details-sites > a { margin: 0 8px }

.studio-details > .studio-details-about {
  /* ... */
}

.studio-details > .studio-details-about:empty::before {
  content: 'No description yet...';
  color: var(--misc-text);
  font-style: italic;
}
